.fl-fb-Fields {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}


.fl-fb-Field {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  justify-content: space-between;

  position: relative; // Because sidebars are absolute
  padding: 0 0 0 $fc-side-padding;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: transform .2s ease-out;
              // box-shadow .2s ease-out;
              // background-color .2s ease-out;
  z-index: $z-index-component;

  &:hover {
    background-color: $c-highlight;
    border-color: $c-border;
  }
}

.fl-fb-Field--configuration-visible {
  z-index: $z-index-component--config-visible;
  background-color: $c-highlight;
  border-color: $c-border;
}

.fl-fb-Field-editable {
  background-color: transparent;
  border: 0;
  min-width: 80%;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    color: #009688;
  }
}

.fl-fb-Field--dragging {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.8);
  z-index: $z-index-component--dragging;
  background-color: $c-highlight;
}

// =========================================================
//                     Content
// =========================================================

.fl-fb-Field-content {
  width: 100%;
  padding-right: $fc-side-padding;
  padding-bottom: $fc-bottom-padding;
}

.fl-fb-Field-option {
  display: block;

  > * {
    margin-left: 10px;
  }
}

.fl-fb-Field-option-text {
  font-weight: bold;
}

.fl-fb-Field-TextArea {
  resize: none;
}
// =========================================================
//                     Sidebar
// =========================================================

.fl-fb-Field-sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  min-height: 100%;
  padding: 5px 10px $fc-bottom-padding;
  border-radius: 0 3px 3px 0;

  text-align: center;
  background-color: $c-background;
  visibility: hidden;
  opacity: 0;

  .fl-fb-Field:hover &,
  .fl-fb-Field--configuration-visible & {
    visibility: visible;
    opacity: 1;
  }
}

[class*=fl-fb-Field-sidebar-btn] {
  background-color: transparent;
  border: 0;

  opacity: .8;
  margin: 2px 0;
  border-radius: 3px;
  padding: .3em .5em;
  @include fade-visible();

  &:hover {
    opacity: 1;
    background-color: $c-background-darker;
  }
  &:active {
    background-color: darken($c-background-darker, 5%);
  }

  &:active,
  &:focus {
    outline: 0;
  }
}

.fl-fb-Field-sidebar-btn-delete {
  margin-top: auto;
  color: $c-danger;
}

.fl-fb-Field-sidebar-btn-config {
  .fl-fb-Field--configuration-visible & {
    @include fade-hidden();
  }
}
// =========================================================
//                     Configuration
// =========================================================

.fl-fb-Field-configuration {
  background-color: $c-background;
  width: calc(100% + 2px);
  padding: 5px $fc-side-padding 2px;
  border: 1px solid transparent;
  border-width: 0 1px 1px;

  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease, visibility 0s;

  position: absolute;
  right: -1px; // because of the border
  bottom: 3px; // To cover the sidebar bottom right border-radius
  z-index: 2;
  transform: translateY(100%);

  border-radius: 0 0 3px 3px;

  .fl-fb-Field--configuration-visible & {
    visibility: visible;
    opacity: 1;
    border-color: $c-border;
  }
}

.fl-fb-Field-configuration-buttons,
.fl-fb-Field-configuration-options {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  margin-bottom: 10px;
}

// The class appears twice to solve a specificity issue with normalise.css
.fl-fb-Field-configuration-options-optionDisabled.fl-fb-Field-configuration-options-optionDisabled {
  margin-left: 5px;
  margin-right: 5px;
}

.fl-fb-Field-configuration-elementName {
  margin: auto 0 auto auto;
  font-weight: bold;
  transform: translateY(.1em);
  color: $c-font;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: $c-background;
}

.fl-fb-Field-configuration-btn-ok {
  &:hover,
  &:active,
  &:focus {
   outline: 0 !important;
  }
}

[class*=fl-fb-Field-configuration-options-btn] {
  background-color: transparent;
  color: $c-font;
  border: 0;
}

.fl-fb-Field-configuration-options-input {
  min-width: 50%;
  text-indent: 5px;
}

/// ============= COMPONENT SPECIFIC CONFIG =================

.fl-fb-Field--transparent {
  background-color: transparent;
  border: 0;
  min-width: 50%;
}

.fl-fb-Field-config {
  position: relative;
  background-color: $c-background;
  padding: 10px $fc-side-padding;
  top: $fc-bottom-padding;
  left: -$fc-side-padding;
  width: calc(100% + #{$fc-side-padding} + #{$fc-side-padding});
}

.fl-fb-Field-config-btn {
  color: $c-font;
  padding: 0 6px;
  background: transparent;
  border: 0;
  &:hover,
  &:active,
  &:focus {
    outline: 0 !important;
  }

  &:hover {
    color: darken($c-font, 10%);
  }

  &:active {
    color: darken($c-font, 40%);
  }

}

.fl-fb-Field-config-captionInput {
  min-width: 400px;
  display: inline-block;
  padding: 2px 5px;
}

.fl-fb-Field-config-valueInput {
  width: 50px;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
}


.fl-fb-Field-dateslot-day,
.fl-fb-Field-dateslot-month,
.fl-fb-Field-dateslot-year {
  width: 1.7em;
  display: inline-block;
  min-width: 0;
  margin: 0 .1em;
  text-align: center;
}

.fl-fb-Field-dateslot-year {
  width: 2.8em;
}

// ============================================================
//   SWITCH
// ============================================================
.fl-fb-ui-switch {
  display: inline-block;
  margin: 0 5px;
    .fl-fb-ui-switch-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
    }
    .fl-fb-ui-switch-toggle + label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    $switch-height: 20px;
    $switch-width: calc( #{$switch-height} * 2);
    input.fl-fb-ui-switch-toggle-round + label {
        padding: 2px;
        width: $switch-width;
        height: $switch-height;
        background-color: #dddddd;
        border-radius: $switch-height;
    }
    input.fl-fb-ui-switch-toggle-round + label:after,
    input.fl-fb-ui-switch-toggle-round + label:before {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }
    input.fl-fb-ui-switch-toggle-round + label:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: $switch-height;
        transition: background 0.4s;
    }
    input.fl-fb-ui-switch-toggle-round + label:after {
        width: calc( #{$switch-height} - 2px);
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
    }
    input.fl-fb-ui-switch-toggle-round:checked + label:before {
        background-color: $c-active;
    }
    input.fl-fb-ui-switch-toggle-round:checked + label:after {
        margin-left: $switch-height;
    }
}
